body{
    background: #2F303A ;
    width: 100%;
    height: 100%;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-question{
    background: white;
    min-width: 50vw;
    min-height: 50vh;
    margin: 30px;
}
.btn{
    margin: 40px;
}
.display{
    display: none;
  }

.score{
    font-size: 40px;
    font-weight: bold;
}

@media all and (max-width: 426px){
    /* .wrapper{
      display: block;
    } */
    .box-question{
      width: 100vw;
      height: auto;
      margin: 20px;
    }
  }